{
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "name": "generativelanguage",
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "version": "v1beta",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "version_module": true,
  "documentationLink": "https://developers.generativeai.google/api",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "tunedModels": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "description": "Gets information about a specific TunedModel.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "type": "string",
              "required": true
            }
          },
          "path": "v1beta/{+name}",
          "id": "generativelanguage.tunedModels.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "TunedModel"
          }
        },
        "patch": {
          "id": "generativelanguage.tunedModels.patch",
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "TunedModel"
          },
          "request": {
            "$ref": "TunedModel"
          },
          "parameters": {
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\""
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The list of fields to update."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "description": "Updates a tuned model."
        },
        "generateContent": {
          "path": "v1beta/{+model}:generateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "parameters": {
            "model": {
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateContent",
          "id": "generativelanguage.tunedModels.generateContent"
        },
        "transferOwnership": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          "path": "v1beta/{+name}:transferOwnership",
          "id": "generativelanguage.tunedModels.transferOwnership",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:transferOwnership",
          "response": {
            "$ref": "TransferOwnershipResponse"
          },
          "request": {
            "$ref": "TransferOwnershipRequest"
          },
          "httpMethod": "POST",
          "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role."
        },
        "list": {
          "id": "generativelanguage.tunedModels.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListTunedModelsResponse"
          },
          "flatPath": "v1beta/tunedModels",
          "path": "v1beta/tunedModels",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token."
            }
          },
          "description": "Lists tuned models owned by the user.",
          "httpMethod": "GET"
        },
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1beta/tunedModels",
          "id": "generativelanguage.tunedModels.create",
          "parameters": {
            "tunedModelId": {
              "type": "string",
              "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: [a-z]([a-z0-9-]{0,38}[a-z0-9])?.",
              "location": "query"
            }
          },
          "description": "Creates a tuned model. Intermediate tuning progress (if any) is accessed through the [google.longrunning.Operations] service. Status and results can be accessed through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222",
          "request": {
            "$ref": "TunedModel"
          },
          "flatPath": "v1beta/tunedModels",
          "parameterOrder": []
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a tuned model.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "id": "generativelanguage.tunedModels.delete",
          "httpMethod": "DELETE",
          "path": "v1beta/{+name}"
        },
        "generateText": {
          "httpMethod": "POST",
          "path": "v1beta/{+model}:generateText",
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "description": "Generates a response from the model given an input message.",
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateText",
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m",
              "location": "path"
            }
          },
          "id": "generativelanguage.tunedModels.generateText"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "patch": {
              "id": "generativelanguage.tunedModels.permissions.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
                  "type": "string"
                },
                "name": {
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only."
                }
              },
              "request": {
                "$ref": "Permission"
              },
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "description": "Updates the permission.",
              "response": {
                "$ref": "Permission"
              }
            },
            "create": {
              "path": "v1beta/{+parent}/permissions",
              "id": "generativelanguage.tunedModels.permissions.create",
              "httpMethod": "POST",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "type": "string",
                  "pattern": "^tunedModels/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Permission"
              },
              "request": {
                "$ref": "Permission"
              },
              "description": "Create a permission to a specific resource."
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`"
                }
              },
              "httpMethod": "GET",
              "id": "generativelanguage.tunedModels.permissions.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "path": "v1beta/{+name}",
              "description": "Gets information about a specific Permission."
            },
            "delete": {
              "path": "v1beta/{+name}",
              "description": "Deletes the permission.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`"
                }
              },
              "id": "generativelanguage.tunedModels.permissions.delete"
            },
            "list": {
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "required": true,
                  "pattern": "^tunedModels/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Lists permissions for the specific resource.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "id": "generativelanguage.tunedModels.permissions.list",
              "path": "v1beta/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "CreateFileRequest"
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/v1beta/files",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/v1beta/files"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "description": "Creates a `File`.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "CreateFileResponse"
          },
          "parameters": {},
          "supportsMediaUpload": true,
          "path": "v1beta/files",
          "flatPath": "v1beta/files",
          "id": "generativelanguage.media.upload"
        }
      }
    },
    "models": {
      "methods": {
        "streamGenerateContent": {
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:streamGenerateContent",
          "path": "v1beta/{+model}:streamGenerateContent",
          "description": "Generates a streamed response from the model given an input `GenerateContentRequest`.",
          "parameters": {
            "model": {
              "location": "path",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "required": true,
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          },
          "id": "generativelanguage.models.streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "parameterOrder": [
            "model"
          ]
        },
        "embedText": {
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "EmbedTextRequest"
          },
          "id": "generativelanguage.models.embedText",
          "description": "Generates an embedding from the model given an input message.",
          "path": "v1beta/{+model}:embedText",
          "response": {
            "$ref": "EmbedTextResponse"
          },
          "parameters": {
            "model": {
              "type": "string",
              "description": "Required. The model name to use with the format model=models/{model}.",
              "location": "path",
              "required": true,
              "pattern": "^models/[^/]+$"
            }
          },
          "flatPath": "v1beta/models/{modelsId}:embedText"
        },
        "countTokens": {
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "CountTokensRequest"
          },
          "id": "generativelanguage.models.countTokens",
          "response": {
            "$ref": "CountTokensResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:countTokens",
          "path": "v1beta/{+model}:countTokens",
          "description": "Runs a model's tokenizer on input content and returns the token count.",
          "parameters": {
            "model": {
              "type": "string",
              "pattern": "^models/[^/]+$",
              "required": true,
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "generateText": {
          "httpMethod": "POST",
          "description": "Generates a response from the model given an input message.",
          "flatPath": "v1beta/models/{modelsId}:generateText",
          "path": "v1beta/{+model}:generateText",
          "id": "generativelanguage.models.generateText",
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m"
            }
          }
        },
        "get": {
          "description": "Gets information about a specific Model.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "Model"
          },
          "id": "generativelanguage.models.get",
          "flatPath": "v1beta/models/{modelsId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^models/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
            }
          },
          "httpMethod": "GET"
        },
        "batchEmbedContents": {
          "path": "v1beta/{+model}:batchEmbedContents",
          "response": {
            "$ref": "BatchEmbedContentsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:batchEmbedContents",
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "id": "generativelanguage.models.batchEmbedContents",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "BatchEmbedContentsRequest"
          }
        },
        "embedContent": {
          "request": {
            "$ref": "EmbedContentRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "path": "v1beta/{+model}:embedContent",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
            }
          },
          "flatPath": "v1beta/models/{modelsId}:embedContent",
          "description": "Generates an embedding from the model given an input `Content`.",
          "id": "generativelanguage.models.embedContent",
          "response": {
            "$ref": "EmbedContentResponse"
          }
        },
        "countTextTokens": {
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta/{+model}:countTextTokens",
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Runs a model's tokenizer on a text and returns the token count.",
          "flatPath": "v1beta/models/{modelsId}:countTextTokens",
          "id": "generativelanguage.models.countTextTokens",
          "response": {
            "$ref": "CountTextTokensResponse"
          },
          "request": {
            "$ref": "CountTextTokensRequest"
          }
        },
        "generateAnswer": {
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the `Model` to use for generating the grounded response. Format: `model=models/{model}`.",
              "location": "path"
            }
          },
          "path": "v1beta/{+model}:generateAnswer",
          "id": "generativelanguage.models.generateAnswer",
          "description": "Generates a grounded answer from the model given an input `GenerateAnswerRequest`.",
          "request": {
            "$ref": "GenerateAnswerRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateAnswerResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:generateAnswer"
        },
        "generateContent": {
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$"
            }
          },
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "id": "generativelanguage.models.generateContent",
          "flatPath": "v1beta/models/{modelsId}:generateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "httpMethod": "POST",
          "path": "v1beta/{+model}:generateContent"
        },
        "batchEmbedText": {
          "flatPath": "v1beta/models/{modelsId}:batchEmbedText",
          "parameterOrder": [
            "model"
          ],
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "request": {
            "$ref": "BatchEmbedTextRequest"
          },
          "id": "generativelanguage.models.batchEmbedText",
          "response": {
            "$ref": "BatchEmbedTextResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the `Model` to use for generating the embedding. Examples: models/embedding-gecko-001",
              "pattern": "^models/[^/]+$"
            }
          },
          "path": "v1beta/{+model}:batchEmbedText"
        },
        "generateMessage": {
          "flatPath": "v1beta/models/{modelsId}:generateMessage",
          "request": {
            "$ref": "GenerateMessageRequest"
          },
          "response": {
            "$ref": "GenerateMessageResponse"
          },
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the model to use. Format: `name=models/{model}`.",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "generativelanguage.models.generateMessage",
          "httpMethod": "POST",
          "description": "Generates a response from the model given an input `MessagePrompt`.",
          "path": "v1beta/{+model}:generateMessage"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1beta/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "id": "generativelanguage.models.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of `Models` to return (per page). The service may return fewer models. If unspecified, at most 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "description": "Lists models available through the API.",
          "parameterOrder": [],
          "path": "v1beta/models"
        },
        "countMessageTokens": {
          "id": "generativelanguage.models.countMessageTokens",
          "description": "Runs a model's tokenizer on a string and returns the token count.",
          "path": "v1beta/{+model}:countMessageTokens",
          "response": {
            "$ref": "CountMessageTokensResponse"
          },
          "parameters": {
            "model": {
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
            }
          },
          "flatPath": "v1beta/models/{modelsId}:countMessageTokens",
          "request": {
            "$ref": "CountMessageTokensRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "corpora": {
      "methods": {
        "get": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/corpora/{corporaId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^corpora/[^/]+$",
              "type": "string",
              "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Corpus"
          },
          "id": "generativelanguage.corpora.get",
          "description": "Gets information about a specific `Corpus`."
        },
        "delete": {
          "flatPath": "v1beta/corpora/{corporaId}",
          "parameters": {
            "force": {
              "location": "query",
              "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^corpora/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "generativelanguage.corpora.delete",
          "httpMethod": "DELETE",
          "path": "v1beta/{+name}",
          "description": "Deletes a `Corpus`."
        },
        "create": {
          "httpMethod": "POST",
          "id": "generativelanguage.corpora.create",
          "parameters": {},
          "description": "Creates an empty `Corpus`.",
          "response": {
            "$ref": "Corpus"
          },
          "request": {
            "$ref": "Corpus"
          },
          "path": "v1beta/corpora",
          "parameterOrder": [],
          "flatPath": "v1beta/corpora"
        },
        "patch": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/corpora/{corporaId}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to update. Currently, this only supports updating `display_name`."
            },
            "name": {
              "type": "string",
              "location": "path",
              "description": "Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
              "pattern": "^corpora/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Corpus"
          },
          "request": {
            "$ref": "Corpus"
          },
          "id": "generativelanguage.corpora.patch",
          "description": "Updates a `Corpus`."
        },
        "query": {
          "flatPath": "v1beta/corpora/{corporaId}:query",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the `Corpus` to query. Example: `corpora/my-corpus-123`",
              "pattern": "^corpora/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1beta/{+name}:query",
          "request": {
            "$ref": "QueryCorpusRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "id": "generativelanguage.corpora.query",
          "response": {
            "$ref": "QueryCorpusResponse"
          },
          "description": "Performs semantic search over a `Corpus`."
        },
        "list": {
          "id": "generativelanguage.corpora.list",
          "description": "Lists all `Corpora` owned by the user.",
          "httpMethod": "GET",
          "path": "v1beta/corpora",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1beta/corpora",
          "response": {
            "$ref": "ListCorporaResponse"
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "pattern": "^corpora/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "format": "int32"
                }
              },
              "path": "v1beta/{+parent}/permissions",
              "description": "Lists permissions for the specific resource.",
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "id": "generativelanguage.corpora.permissions.list",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the permission.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "generativelanguage.corpora.permissions.delete",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`"
                }
              },
              "id": "generativelanguage.corpora.permissions.get",
              "response": {
                "$ref": "Permission"
              },
              "httpMethod": "GET",
              "description": "Gets information about a specific Permission.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}"
            },
            "create": {
              "request": {
                "$ref": "Permission"
              },
              "response": {
                "$ref": "Permission"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^corpora/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`"
                }
              },
              "path": "v1beta/{+parent}/permissions",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "description": "Create a permission to a specific resource.",
              "id": "generativelanguage.corpora.permissions.create"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "generativelanguage.corpora.permissions.patch",
              "request": {
                "$ref": "Permission"
              },
              "response": {
                "$ref": "Permission"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$"
                }
              },
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "httpMethod": "PATCH",
              "description": "Updates the permission."
            }
          }
        },
        "documents": {
          "methods": {
            "query": {
              "parameters": {
                "name": {
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the `Document` to query. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Performs semantic search over a `Document`.",
              "id": "generativelanguage.corpora.documents.query",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}:query",
              "request": {
                "$ref": "QueryDocumentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "QueryDocumentResponse"
              },
              "httpMethod": "POST",
              "path": "v1beta/{+name}:query"
            },
            "patch": {
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.corpora.documents.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to update. Currently, this only supports updating `display_name` and `custom_metadata`."
                },
                "name": {
                  "location": "path",
                  "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"corpora/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/{corpus_id}/documents/my-awesome-doc-123a456b789c`",
                  "type": "string",
                  "required": true,
                  "pattern": "^corpora/[^/]+/documents/[^/]+$"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates a `Document`.",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "response": {
                "$ref": "Document"
              },
              "request": {
                "$ref": "Document"
              }
            },
            "get": {
              "description": "Gets information about a specific `Document`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "response": {
                "$ref": "Document"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the `Document` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "pattern": "^corpora/[^/]+/documents/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "id": "generativelanguage.corpora.documents.get"
            },
            "create": {
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "httpMethod": "POST",
              "description": "Creates an empty `Document`.",
              "id": "generativelanguage.corpora.documents.create",
              "response": {
                "$ref": "Document"
              },
              "path": "v1beta/{+parent}/documents",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The name of the `Corpus` where this `Document` will be created. Example: `corpora/my-corpus-123`",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Document"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "response": {
                "$ref": "ListDocumentsResponse"
              },
              "path": "v1beta/{+parent}/documents",
              "id": "generativelanguage.corpora.documents.list",
              "description": "Lists all `Document`s in a `Corpus`.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The name of the `Corpus` containing `Document`s. Example: `corpora/my-corpus-123`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "delete": {
              "id": "generativelanguage.corpora.documents.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "force": {
                  "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The resource name of the `Document` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^corpora/[^/]+/documents/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a `Document`.",
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "chunks": {
              "methods": {
                "batchUpdate": {
                  "description": "Batch update `Chunk`s.",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to update. The parent field in every `UpdateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+parent}/chunks:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateChunksResponse"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateChunksRequest"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a `Chunk`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "description": "Required. The resource name of the `Chunk` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "id": "generativelanguage.corpora.documents.chunks.delete",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Chunk"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/chunks",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "request": {
                    "$ref": "Chunk"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.create",
                  "description": "Creates a `Chunk`.",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "generativelanguage.corpora.documents.chunks.list",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/chunks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of `Chunk`s to return (per page). The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum size limit is 100 `Chunk`s per page.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the `Document` containing `Chunk`s. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListChunks` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListChunks` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "description": "Lists all `Chunk`s in a `Document`.",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "response": {
                    "$ref": "ListChunksResponse"
                  }
                },
                "batchCreate": {
                  "response": {
                    "$ref": "BatchCreateChunksResponse"
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchCreate",
                  "request": {
                    "$ref": "BatchCreateChunksRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Optional. The name of the `Document` where this batch of `Chunk`s will be created. The parent field in every `CreateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                    }
                  },
                  "description": "Batch create `Chunk`s.",
                  "id": "generativelanguage.corpora.documents.chunks.batchCreate",
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/chunks:batchCreate"
                },
                "get": {
                  "response": {
                    "$ref": "Chunk"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}",
                  "description": "Gets information about a specific `Chunk`.",
                  "id": "generativelanguage.corpora.documents.chunks.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the `Chunk` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`",
                      "required": true,
                      "location": "path",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchDelete": {
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchDelete",
                  "description": "Batch delete `Chunk`s.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchDeleteChunksRequest"
                  },
                  "httpMethod": "POST",
                  "id": "generativelanguage.corpora.documents.chunks.batchDelete",
                  "parameters": {
                    "parent": {
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to delete. The parent field in every `DeleteChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/{+parent}/chunks:batchDelete"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Chunk"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Immutable. Identifier. The `Chunk` resource name. The ID (name excluding the \"corpora/*/documents/*/chunks/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a random 12-character unique ID will be generated. Example: `corpora/{corpus_id}/documents/{document_id}/chunks/123a456b789c`",
                      "location": "path",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}",
                  "path": "v1beta/{+name}",
                  "id": "generativelanguage.corpora.documents.chunks.patch",
                  "description": "Updates a `Chunk`.",
                  "request": {
                    "$ref": "Chunk"
                  }
                }
              }
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListFilesResponse"
          },
          "flatPath": "v1beta/files",
          "id": "generativelanguage.files.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token from a previous `ListFiles` call."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
              "location": "query"
            }
          },
          "description": "Lists the metadata for `File`s owned by the requesting project.",
          "path": "v1beta/files",
          "httpMethod": "GET"
        },
        "get": {
          "description": "Gets the metadata for the given `File`.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "File"
          },
          "flatPath": "v1beta/files/{filesId}",
          "id": "generativelanguage.files.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
              "location": "path",
              "type": "string",
              "pattern": "^files/[^/]+$"
            }
          },
          "path": "v1beta/{+name}"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta/files/{filesId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^files/[^/]+$",
              "description": "Required. The name of the `File` to delete. Example: `files/abc-123`"
            }
          },
          "description": "Deletes the `File`.",
          "id": "generativelanguage.files.delete"
        }
      }
    }
  },
  "id": "generativelanguage:v1beta",
  "revision": "20240607",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "canonicalName": "Generative Language",
  "title": "Generative Language API",
  "schemas": {
    "EmbedContentResponse": {
      "description": "The response to an `EmbedContentRequest`.",
      "id": "EmbedContentResponse",
      "type": "object",
      "properties": {
        "embedding": {
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content.",
          "readOnly": true
        }
      }
    },
    "CustomMetadata": {
      "properties": {
        "stringListValue": {
          "description": "The StringList value of the metadata to store.",
          "$ref": "StringList"
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to store."
        },
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "type": "number",
          "format": "float"
        },
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomMetadata",
      "description": "User provided metadata stored as key-value pairs."
    },
    "TuningSnapshot": {
      "properties": {
        "meanLoss": {
          "description": "Output only. The mean loss of the training examples for this step.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "step": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The tuning step.",
          "readOnly": true
        },
        "computeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this metric was computed.",
          "type": "string",
          "readOnly": true
        },
        "epoch": {
          "description": "Output only. The epoch this step was part of.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Record for a single tuning step.",
      "type": "object",
      "id": "TuningSnapshot"
    },
    "Schema": {
      "properties": {
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "type": {
          "description": "Required. Data type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type."
          ]
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "description": {
          "type": "string",
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown."
        },
        "format": {
          "description": "Optional. The format of the data. This is used only for primitive datatypes. Supported formats: for NUMBER type: float, double for INTEGER type: int32, int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Schema",
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema)."
    },
    "SafetyFeedback": {
      "properties": {
        "setting": {
          "description": "Safety settings applied to the request.",
          "$ref": "SafetySetting"
        },
        "rating": {
          "description": "Safety rating evaluated from content.",
          "$ref": "SafetyRating"
        }
      },
      "description": "Safety feedback for an entire request. This field is populated if content in the input and/or response is blocked due to safety settings. SafetyFeedback may not exist for every HarmCategory. Each SafetyFeedback will return the safety settings used by the request as well as the lowest HarmProbability that should be allowed in order to return a result.",
      "type": "object",
      "id": "SafetyFeedback"
    },
    "TuningTask": {
      "description": "Tuning tasks that create tuned models.",
      "id": "TuningTask",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when tuning this model completed.",
          "readOnly": true,
          "type": "string"
        },
        "trainingData": {
          "description": "Required. Input only. Immutable. The model training data.",
          "$ref": "Dataset"
        },
        "hyperparameters": {
          "$ref": "Hyperparameters",
          "description": "Immutable. Hyperparameters controlling the tuning process. If not provided, default values will be used."
        },
        "snapshots": {
          "readOnly": true,
          "description": "Output only. Metrics collected during tuning.",
          "items": {
            "$ref": "TuningSnapshot"
          },
          "type": "array"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when tuning this model started."
        }
      },
      "type": "object"
    },
    "GenerateMessageResponse": {
      "id": "GenerateMessageResponse",
      "type": "object",
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
      "properties": {
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array"
        },
        "candidates": {
          "items": {
            "$ref": "Message"
          },
          "description": "Candidate response messages from the model.",
          "type": "array"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "The conversation history used by the model.",
          "type": "array"
        }
      }
    },
    "CitationSource": {
      "id": "CitationSource",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes."
        },
        "endIndex": {
          "format": "int32",
          "description": "Optional. End of the attributed segment, exclusive.",
          "type": "integer"
        },
        "license": {
          "type": "string",
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations."
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A citation to a source for a portion of a specific response."
    },
    "CountMessageTokensResponse": {
      "id": "CountMessageTokensResponse",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      },
      "type": "object",
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`."
    },
    "Blob": {
      "properties": {
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Raw bytes for media formats.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "Blob",
      "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field."
    },
    "BatchEmbedContentsRequest": {
      "id": "BatchEmbedContentsRequest",
      "type": "object",
      "description": "Batch request to get embeddings from the model for a list of prompts.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "EmbedContentRequest"
          },
          "type": "array",
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`."
        }
      }
    },
    "UsageMetadata": {
      "description": "Metadata on the generation request's token usage.",
      "properties": {
        "candidatesTokenCount": {
          "type": "integer",
          "description": "Total number of tokens across the generated candidates.",
          "format": "int32"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total token count for the generation request (prompt + candidates)."
        },
        "promptTokenCount": {
          "description": "Number of tokens in the prompt.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UsageMetadata"
    },
    "TextPrompt": {
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The prompt text.",
          "type": "string"
        }
      },
      "id": "TextPrompt"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "GroundingPassages": {
      "type": "object",
      "description": "A repeated list of passages.",
      "properties": {
        "passages": {
          "items": {
            "$ref": "GroundingPassage"
          },
          "description": "List of passages.",
          "type": "array"
        }
      },
      "id": "GroundingPassages"
    },
    "QueryDocumentResponse": {
      "id": "QueryDocumentResponse",
      "properties": {
        "relevantChunks": {
          "description": "The returned relevant chunks.",
          "type": "array",
          "items": {
            "$ref": "RelevantChunk"
          }
        }
      },
      "description": "Response from `QueryDocument` containing a list of relevant chunks.",
      "type": "object"
    },
    "ContentEmbedding": {
      "type": "object",
      "description": "A list of floats representing an embedding.",
      "id": "ContentEmbedding",
      "properties": {
        "values": {
          "description": "The embedding values.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        }
      }
    },
    "GenerateTextRequest": {
      "description": "Request to generate a text completion response from the model.",
      "type": "object",
      "properties": {
        "maxOutputTokens": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "type": "integer"
        },
        "candidateCount": {
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
          "type": "integer",
          "format": "int32"
        },
        "safetySettings": {
          "items": {
            "$ref": "SafetySetting"
          },
          "type": "array",
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service."
        },
        "stopSequences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response."
        },
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
          "type": "integer"
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model."
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GenerateTextRequest"
    },
    "FileData": {
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "Required. URI."
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The IANA standard MIME type of the source data."
        }
      },
      "description": "URI based data.",
      "type": "object",
      "id": "FileData"
    },
    "TunedModelSource": {
      "properties": {
        "baseModel": {
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/text-bison-001`",
          "readOnly": true,
          "type": "string"
        },
        "tunedModel": {
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`",
          "type": "string"
        }
      },
      "description": "Tuned model as a source for training a new model.",
      "type": "object",
      "id": "TunedModelSource"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Example": {
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "properties": {
        "output": {
          "$ref": "Message",
          "description": "Required. An example of what the model should output given the input."
        },
        "input": {
          "$ref": "Message",
          "description": "Required. An example of an input `Message` from the user."
        }
      },
      "id": "Example",
      "type": "object"
    },
    "GenerateTextResponse": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "TextCompletion"
          },
          "type": "array",
          "description": "Candidate responses from the model."
        },
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "type": "array",
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API)."
        },
        "safetyFeedback": {
          "type": "array",
          "description": "Returns any safety feedback related to content filtering.",
          "items": {
            "$ref": "SafetyFeedback"
          }
        }
      },
      "id": "GenerateTextResponse",
      "type": "object",
      "description": "The response from the model, including candidate completions."
    },
    "Hyperparameters": {
      "properties": {
        "learningRate": {
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples.",
          "format": "float",
          "type": "number"
        },
        "learningRateMultiplier": {
          "format": "float",
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used.",
          "type": "number"
        },
        "batchSize": {
          "format": "int32",
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples.",
          "type": "integer"
        },
        "epochCount": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used."
        }
      },
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance",
      "id": "Hyperparameters",
      "type": "object"
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "properties": {
        "response": {
          "description": "Required. The function response in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63.",
          "type": "string"
        }
      },
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
      "type": "object"
    },
    "GenerateContentRequest": {
      "type": "object",
      "description": "Request to generate a completion from the model.",
      "properties": {
        "contents": {
          "type": "array",
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "items": {
            "$ref": "Content"
          }
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Tool configuration for any `Tool` specified in the request."
        },
        "tools": {
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. The only supported tool is currently `Function`.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "safetySettings": {
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported.",
          "type": "array"
        },
        "systemInstruction": {
          "$ref": "Content",
          "description": "Optional. Developer set system instruction. Currently, text only."
        },
        "generationConfig": {
          "$ref": "GenerationConfig",
          "description": "Optional. Configuration options for model generation and outputs."
        },
        "model": {
          "type": "string",
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`."
        }
      },
      "id": "GenerateContentRequest"
    },
    "SemanticRetrieverConfig": {
      "properties": {
        "source": {
          "type": "string",
          "description": "Required. Name of the resource for retrieval, e.g. corpora/123 or corpora/123/documents/abc."
        },
        "metadataFilters": {
          "type": "array",
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
          "items": {
            "$ref": "MetadataFilter"
          }
        },
        "query": {
          "description": "Required. Query to use for similarity matching `Chunk`s in the given resource.",
          "$ref": "Content"
        },
        "maxChunksCount": {
          "format": "int32",
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "type": "integer"
        },
        "minimumRelevanceScore": {
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API.",
      "id": "SemanticRetrieverConfig"
    },
    "CreateChunkRequest": {
      "description": "Request to create a `Chunk`.",
      "type": "object",
      "id": "CreateChunkRequest",
      "properties": {
        "chunk": {
          "description": "Required. The `Chunk` to create.",
          "$ref": "Chunk"
        },
        "parent": {
          "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
          "type": "string"
        }
      }
    },
    "MetadataFilter": {
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]",
      "properties": {
        "key": {
          "description": "Required. The key of the metadata to filter on.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs."
        }
      },
      "id": "MetadataFilter",
      "type": "object"
    },
    "File": {
      "description": "A file uploaded to the API.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`"
        },
        "sha256Hash": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "format": "byte"
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size of the file in bytes."
        },
        "uri": {
          "description": "Output only. The uri of the `File`.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. Error status if File processing failed.",
          "readOnly": true,
          "$ref": "Status"
        },
        "expirationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
          "type": "string"
        },
        "videoMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata for a video.",
          "$ref": "VideoMetadata"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "mimeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. MIME type of the file."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the `File` was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "File"
    },
    "Dataset": {
      "properties": {
        "examples": {
          "$ref": "TuningExamples",
          "description": "Optional. Inline examples."
        }
      },
      "description": "Dataset for training or validation.",
      "type": "object",
      "id": "Dataset"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
[...]
