{
  "protocol": "rest",
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "servicePath": "",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "name": "generativelanguage",
  "documentationLink": "https://developers.generativeai.google/api",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "models": {
      "methods": {
        "batchEmbedContents": {
          "path": "v1beta/{+model}:batchEmbedContents",
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "required": true,
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          },
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "flatPath": "v1beta/models/{modelsId}:batchEmbedContents",
          "id": "generativelanguage.models.batchEmbedContents",
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchEmbedContentsResponse"
          },
          "request": {
            "$ref": "BatchEmbedContentsRequest"
          }
        },
        "embedText": {
          "path": "v1beta/{+model}:embedText",
          "description": "Generates an embedding from the model given an input message.",
          "flatPath": "v1beta/models/{modelsId}:embedText",
          "httpMethod": "POST",
          "response": {
            "$ref": "EmbedTextResponse"
          },
          "request": {
            "$ref": "EmbedTextRequest"
          },
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "description": "Required. The model name to use with the format model=models/{model}.",
              "pattern": "^models/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.embedText"
        },
        "list": {
          "flatPath": "v1beta/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "description": "Lists models available through the API.",
          "parameterOrder": [],
          "path": "v1beta/models",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of `Models` to return (per page). The service may return fewer models. If unspecified, at most 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "generativelanguage.models.list"
        },
        "embedContent": {
          "parameters": {
            "model": {
              "location": "path",
              "required": true,
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "description": "Generates an embedding from the model given an input `Content`.",
          "request": {
            "$ref": "EmbedContentRequest"
          },
          "path": "v1beta/{+model}:embedContent",
          "httpMethod": "POST",
          "response": {
            "$ref": "EmbedContentResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:embedContent",
          "id": "generativelanguage.models.embedContent"
        },
        "streamGenerateContent": {
          "flatPath": "v1beta/models/{modelsId}:streamGenerateContent",
          "description": "Generates a streamed response from the model given an input `GenerateContentRequest`.",
          "path": "v1beta/{+model}:streamGenerateContent",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "id": "generativelanguage.models.streamGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "type": "string",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "required": true,
              "location": "path"
            }
          }
        },
        "countMessageTokens": {
          "response": {
            "$ref": "CountMessageTokensResponse"
          },
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1beta/models/{modelsId}:countMessageTokens",
          "path": "v1beta/{+model}:countMessageTokens",
          "request": {
            "$ref": "CountMessageTokensRequest"
          },
          "description": "Runs a model's tokenizer on a string and returns the token count.",
          "httpMethod": "POST",
          "id": "generativelanguage.models.countMessageTokens",
          "parameters": {
            "model": {
              "location": "path",
              "required": true,
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1beta/models/{modelsId}",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "required": true,
              "type": "string",
              "pattern": "^models/[^/]+$",
              "location": "path"
            }
          },
          "description": "Gets information about a specific Model.",
          "response": {
            "$ref": "Model"
          },
          "id": "generativelanguage.models.get"
        },
        "generateMessage": {
          "response": {
            "$ref": "GenerateMessageResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:generateMessage",
          "id": "generativelanguage.models.generateMessage",
          "request": {
            "$ref": "GenerateMessageRequest"
          },
          "parameters": {
            "model": {
              "location": "path",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the model to use. Format: `name=models/{model}`.",
              "type": "string",
              "required": true
            }
          },
          "description": "Generates a response from the model given an input `MessagePrompt`.",
          "path": "v1beta/{+model}:generateMessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "model"
          ]
        },
        "generateContent": {
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "location": "path"
            }
          },
          "path": "v1beta/{+model}:generateContent",
          "id": "generativelanguage.models.generateContent",
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1beta/models/{modelsId}:generateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "httpMethod": "POST"
        },
        "generateAnswer": {
          "response": {
            "$ref": "GenerateAnswerResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:generateAnswer",
          "description": "Generates a grounded answer from the model given an input `GenerateAnswerRequest`.",
          "request": {
            "$ref": "GenerateAnswerRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "path": "v1beta/{+model}:generateAnswer",
          "id": "generativelanguage.models.generateAnswer",
          "parameters": {
            "model": {
              "type": "string",
              "pattern": "^models/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the `Model` to use for generating the grounded response. Format: `model=models/{model}`."
            }
          }
        },
        "batchEmbedText": {
          "response": {
            "$ref": "BatchEmbedTextResponse"
          },
          "path": "v1beta/{+model}:batchEmbedText",
          "flatPath": "v1beta/models/{modelsId}:batchEmbedText",
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.batchEmbedText",
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "request": {
            "$ref": "BatchEmbedTextRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the embedding. Examples: models/embedding-gecko-001",
              "location": "path",
              "required": true,
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          }
        },
        "generateText": {
          "path": "v1beta/{+model}:generateText",
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:generateText",
          "id": "generativelanguage.models.generateText",
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m"
            }
          },
          "description": "Generates a response from the model given an input message.",
          "httpMethod": "POST"
        },
        "countTokens": {
          "description": "Runs a model's tokenizer on input content and returns the token count.",
          "path": "v1beta/{+model}:countTokens",
          "flatPath": "v1beta/models/{modelsId}:countTokens",
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CountTokensResponse"
          },
          "id": "generativelanguage.models.countTokens",
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "CountTokensRequest"
          }
        },
        "countTextTokens": {
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1beta/models/{modelsId}:countTextTokens",
          "path": "v1beta/{+model}:countTextTokens",
          "id": "generativelanguage.models.countTextTokens",
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
            }
          },
          "request": {
            "$ref": "CountTextTokensRequest"
          },
          "description": "Runs a model's tokenizer on a text and returns the token count.",
          "response": {
            "$ref": "CountTextTokensResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "corpora": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListCorporaResponse"
          },
          "description": "Lists all `Corpora` owned by the user.",
          "id": "generativelanguage.corpora.list",
          "parameterOrder": [],
          "path": "v1beta/corpora",
          "httpMethod": "GET",
          "flatPath": "v1beta/corpora",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "query": {
          "httpMethod": "POST",
          "path": "v1beta/{+name}:query",
          "id": "generativelanguage.corpora.query",
          "response": {
            "$ref": "QueryCorpusResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/corpora/{corporaId}:query",
          "request": {
            "$ref": "QueryCorpusRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the `Corpus` to query. Example: `corpora/my-corpus-123`",
              "pattern": "^corpora/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Performs semantic search over a `Corpus`."
        },
        "create": {
          "request": {
            "$ref": "Corpus"
          },
          "response": {
            "$ref": "Corpus"
          },
          "parameterOrder": [],
          "flatPath": "v1beta/corpora",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates an empty `Corpus`.",
          "path": "v1beta/corpora",
          "id": "generativelanguage.corpora.create"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.corpora.patch",
          "response": {
            "$ref": "Corpus"
          },
          "request": {
            "$ref": "Corpus"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta/corpora/{corporaId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
              "pattern": "^corpora/[^/]+$",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "description": "Required. The list of fields to update. Currently, this only supports updating `display_name`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates a `Corpus`.",
          "path": "v1beta/{+name}"
        },
        "delete": {
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "pattern": "^corpora/[^/]+$"
            },
            "force": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "generativelanguage.corpora.delete",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/corpora/{corporaId}",
          "description": "Deletes a `Corpus`.",
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "v1beta/corpora/{corporaId}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "location": "path",
              "pattern": "^corpora/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "description": "Gets information about a specific `Corpus`.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "id": "generativelanguage.corpora.get",
          "response": {
            "$ref": "Corpus"
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a permission to a specific resource.",
              "response": {
                "$ref": "Permission"
              },
              "id": "generativelanguage.corpora.permissions.create",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^corpora/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`"
                }
              },
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/permissions",
              "request": {
                "$ref": "Permission"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.corpora.permissions.patch",
              "httpMethod": "PATCH",
              "description": "Updates the permission.",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "required": true,
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+name}",
              "request": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}"
            },
            "list": {
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "id": "generativelanguage.corpora.permissions.list",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "path": "v1beta/{+parent}/permissions",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^corpora/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists permissions for the specific resource."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the permission.",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$"
                }
              },
              "id": "generativelanguage.corpora.permissions.delete",
              "path": "v1beta/{+name}"
            },
            "get": {
              "response": {
                "$ref": "Permission"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a specific Permission.",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$"
                }
              },
              "id": "generativelanguage.corpora.permissions.get",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}"
            }
          }
        },
        "documents": {
          "methods": {
            "create": {
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "request": {
                "$ref": "Document"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The name of the `Corpus` where this `Document` will be created. Example: `corpora/my-corpus-123`",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+parent}/documents",
              "response": {
                "$ref": "Document"
              },
              "id": "generativelanguage.corpora.documents.create",
              "description": "Creates an empty `Document`."
            },
            "list": {
              "id": "generativelanguage.corpora.documents.list",
              "path": "v1beta/{+parent}/documents",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "response": {
                "$ref": "ListDocumentsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token."
                },
                "parent": {
                  "pattern": "^corpora/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the `Corpus` containing `Document`s. Example: `corpora/my-corpus-123`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Lists all `Document`s in a `Corpus`."
            },
            "get": {
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "description": "Gets information about a specific `Document`.",
              "response": {
                "$ref": "Document"
              },
              "id": "generativelanguage.corpora.documents.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `Document` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "type": "string",
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "query": {
              "path": "v1beta/{+name}:query",
              "id": "generativelanguage.corpora.documents.query",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the `Document` to query. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "type": "string",
                  "required": true,
                  "pattern": "^corpora/[^/]+/documents/[^/]+$"
                }
              },
              "request": {
                "$ref": "QueryDocumentRequest"
              },
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}:query",
              "response": {
                "$ref": "QueryDocumentResponse"
              },
              "description": "Performs semantic search over a `Document`."
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates a `Document`.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"corpora/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/{corpus_id}/documents/my-awesome-doc-123a456b789c`",
                  "type": "string",
                  "required": true,
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The list of fields to update. Currently, this only supports updating `display_name` and `custom_metadata`.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "response": {
                "$ref": "Document"
              },
              "id": "generativelanguage.corpora.documents.patch",
              "path": "v1beta/{+name}",
              "request": {
                "$ref": "Document"
              }
            },
            "delete": {
              "id": "generativelanguage.corpora.documents.delete",
              "parameters": {
                "name": {
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the `Document` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                },
                "force": {
                  "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": "Deletes a `Document`.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "chunks": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Chunk"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                    }
                  },
                  "description": "Creates a `Chunk`.",
                  "path": "v1beta/{+parent}/chunks",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "httpMethod": "POST",
                  "id": "generativelanguage.corpora.documents.chunks.create",
                  "response": {
                    "$ref": "Chunk"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Immutable. Identifier. The `Chunk` resource name. The ID (name excluding the \"corpora/*/documents/*/chunks/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a random 12-character unique ID will be generated. Example: `corpora/{corpus_id}/documents/{document_id}/chunks/123a456b789c`"
                    }
                  },
                  "request": {
                    "$ref": "Chunk"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.patch",
                  "description": "Updates a `Chunk`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}",
                  "response": {
                    "$ref": "Chunk"
                  }
                },
                "batchDelete": {
                  "id": "generativelanguage.corpora.documents.chunks.batchDelete",
                  "request": {
                    "$ref": "BatchDeleteChunksRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "required": true,
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to delete. The parent field in every `DeleteChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/{+parent}/chunks:batchDelete",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Batch delete `Chunk`s."
                },
                "batchUpdate": {
                  "path": "v1beta/{+parent}/chunks:batchUpdate",
                  "id": "generativelanguage.corpora.documents.chunks.batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateChunksResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Batch update `Chunk`s.",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateChunksRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to update. The parent field in every `UpdateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "location": "path",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "batchCreate": {
                  "request": {
                    "$ref": "BatchCreateChunksRequest"
                  },
                  "path": "v1beta/{+parent}/chunks:batchCreate",
                  "id": "generativelanguage.corpora.documents.chunks.batchCreate",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchCreate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Batch create `Chunk`s.",
                  "response": {
                    "$ref": "BatchCreateChunksResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "description": "Optional. The name of the `Document` where this batch of `Chunk`s will be created. The parent field in every `CreateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "generativelanguage.corpora.documents.chunks.get",
                  "description": "Gets information about a specific `Chunk`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "description": "Required. The name of the `Chunk` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Chunk"
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}"
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a `Chunk`.",
                  "id": "generativelanguage.corpora.documents.chunks.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the `Chunk` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}"
                },
                "list": {
                  "description": "Lists all `Chunk`s in a `Document`.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of `Chunk`s to return (per page). The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum size limit is 100 `Chunk`s per page.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the `Document` containing `Chunk`s. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListChunks` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListChunks` must match the call that provided the page token."
                    }
                  },
                  "response": {
                    "$ref": "ListChunksResponse"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/chunks"
                }
              }
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "id": "generativelanguage.files.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "File"
          },
          "description": "Gets the metadata for the given `File`.",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/files/{filesId}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
              "pattern": "^files/[^/]+$",
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Lists the metadata for `File`s owned by the requesting project.",
          "parameterOrder": [],
          "flatPath": "v1beta/files",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListFilesResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token from a previous `ListFiles` call.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta/files",
          "id": "generativelanguage.files.list"
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the `File`.",
          "path": "v1beta/{+name}",
          "httpMethod": "DELETE",
          "id": "generativelanguage.files.delete",
          "flatPath": "v1beta/files/{filesId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^files/[^/]+$",
              "type": "string",
              "description": "Required. The name of the `File` to delete. Example: `files/abc-123`"
            }
          }
        }
      }
    },
    "cachedContents": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^cachedContents/[^/]+$",
              "location": "path",
              "description": "Required. The resource name referring to the content cache entry. Format: `cachedContents/{id}`",
              "required": true
            }
          },
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.cachedContents.get",
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "description": "Reads CachedContent resource.",
          "response": {
            "$ref": "CachedContent"
          }
        },
        "patch": {
          "description": "Updates CachedContent resource (only expiration is updatable).",
          "httpMethod": "PATCH",
          "id": "generativelanguage.cachedContents.patch",
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "response": {
            "$ref": "CachedContent"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Optional. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^cachedContents/[^/]+$"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to update."
            }
          },
          "request": {
            "$ref": "CachedContent"
          }
        },
        "create": {
          "path": "v1beta/cachedContents",
          "httpMethod": "POST",
          "request": {
            "$ref": "CachedContent"
          },
          "flatPath": "v1beta/cachedContents",
          "description": "Creates CachedContent resource.",
          "id": "generativelanguage.cachedContents.create",
          "response": {
            "$ref": "CachedContent"
          },
          "parameterOrder": [],
          "parameters": {}
        },
        "list": {
          "description": "Lists CachedContents.",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCachedContentsResponse"
          },
          "path": "v1beta/cachedContents",
          "id": "generativelanguage.cachedContents.list",
          "flatPath": "v1beta/cachedContents"
        },
        "delete": {
          "id": "generativelanguage.cachedContents.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "parameters": {
            "name": {
              "pattern": "^cachedContents/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name referring to the content cache entry Format: `cachedContents/{id}`"
            }
          },
          "description": "Deletes CachedContent resource.",
          "httpMethod": "DELETE",
          "path": "v1beta/{+name}"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "CreateFileRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "path": "v1beta/files",
          "response": {
            "$ref": "CreateFileResponse"
          },
          "id": "generativelanguage.media.upload",
          "parameterOrder": [],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1beta/files"
              },
              "resumable": {
                "path": "/resumable/upload/v1beta/files",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "flatPath": "v1beta/files",
          "description": "Creates a `File`."
        }
      }
    },
    "tunedModels": {
      "resources": {
        "permissions": {
          "methods": {
            "patch": {
              "description": "Updates the permission.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)"
                },
                "name": {
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only."
                }
              },
              "id": "generativelanguage.tunedModels.permissions.patch",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Permission"
              },
              "response": {
                "$ref": "Permission"
              },
              "httpMethod": "PATCH"
            },
            "list": {
              "description": "Lists permissions for the specific resource.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^tunedModels/[^/]+$",
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "generativelanguage.tunedModels.permissions.list",
              "path": "v1beta/{+parent}/permissions",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions"
            },
            "get": {
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a specific Permission.",
              "response": {
                "$ref": "Permission"
              },
              "id": "generativelanguage.tunedModels.permissions.get",
              "parameters": {
                "name": {
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+$"
                }
              },
              "path": "v1beta/{+parent}/permissions",
              "request": {
                "$ref": "Permission"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "id": "generativelanguage.tunedModels.permissions.create",
              "description": "Create a permission to a specific resource."
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "description": "Deletes the permission.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.tunedModels.permissions.delete",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      },
      "methods": {
        "generateContent": {
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          "id": "generativelanguage.tunedModels.generateContent",
          "parameterOrder": [
            "model"
          ],
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateContent",
          "httpMethod": "POST",
          "path": "v1beta/{+model}:generateContent"
        },
        "generateText": {
          "parameters": {
            "model": {
              "pattern": "^tunedModels/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m"
            }
          },
          "description": "Generates a response from the model given an input message.",
          "id": "generativelanguage.tunedModels.generateText",
          "path": "v1beta/{+model}:generateText",
          "parameterOrder": [
            "model"
          ],
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateText",
          "request": {
            "$ref": "GenerateTextRequest"
          }
        },
        "patch": {
          "id": "generativelanguage.tunedModels.patch",
          "request": {
            "$ref": "TunedModel"
          },
          "description": "Updates a tuned model.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\"",
              "pattern": "^tunedModels/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to update.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TunedModel"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.tunedModels.get",
          "description": "Gets information about a specific TunedModel.",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "response": {
            "$ref": "TunedModel"
          },
          "parameters": {
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta/{+name}"
        },
        "delete": {
          "path": "v1beta/{+name}",
          "description": "Deletes a tuned model.",
          "id": "generativelanguage.tunedModels.delete",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "required": true,
              "pattern": "^tunedModels/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "transferOwnership": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
              "pattern": "^tunedModels/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta/{+name}:transferOwnership",
          "httpMethod": "POST",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:transferOwnership",
          "request": {
            "$ref": "TransferOwnershipRequest"
          },
          "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role.",
          "response": {
            "$ref": "TransferOwnershipResponse"
          },
          "id": "generativelanguage.tunedModels.transferOwnership",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "path": "v1beta/tunedModels",
          "parameters": {
            "tunedModelId": {
              "type": "string",
              "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: [a-z]([a-z0-9-]{0,38}[a-z0-9])?.",
              "location": "query"
            }
          },
          "id": "generativelanguage.tunedModels.create",
          "description": "Creates a tuned model. Intermediate tuning progress (if any) is accessed through the [google.longrunning.Operations] service. Status and results can be accessed through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222",
          "httpMethod": "POST",
          "request": {
            "$ref": "TunedModel"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "flatPath": "v1beta/tunedModels"
        },
        "list": {
          "flatPath": "v1beta/tunedModels",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone"
            }
          },
          "parameterOrder": [],
          "description": "Lists tuned models owned by the user.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTunedModelsResponse"
          },
          "id": "generativelanguage.tunedModels.list",
          "path": "v1beta/tunedModels"
        }
      }
    }
  },
  "schemas": {
    "CustomMetadata": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to store."
        },
        "stringListValue": {
          "$ref": "StringList",
          "description": "The StringList value of the metadata to store."
        },
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "type": "number",
          "format": "float"
        },
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        }
      },
      "description": "User provided metadata stored as key-value pairs.",
      "id": "CustomMetadata"
    },
    "Content": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset."
        },
        "parts": {
          "items": {
            "$ref": "Part"
          },
          "type": "array",
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types."
        }
      },
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "id": "Content",
      "type": "object"
    },
    "CreateChunkRequest": {
      "type": "object",
      "properties": {
        "chunk": {
          "description": "Required. The `Chunk` to create.",
          "$ref": "Chunk"
        },
        "parent": {
          "type": "string",
          "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
        }
      },
      "id": "CreateChunkRequest",
      "description": "Request to create a `Chunk`."
    },
    "TunedModel": {
      "type": "object",
      "properties": {
        "temperature": {
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be the one used by the base model while creating the model.",
          "format": "float"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this model was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\""
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The name to display for this model in user interfaces. The display name must be up to 40 characters including spaces."
        },
        "baseModel": {
          "description": "Immutable. The name of the `Model` to tune. Example: `models/text-bison-001`",
          "type": "string"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. This value specifies default to be the one used by the base model while creating the model.",
          "type": "integer"
        },
        "tunedModelSource": {
          "$ref": "TunedModelSource",
          "description": "Optional. TunedModel to use as the starting point for training the new model."
        },
        "description": {
          "type": "string",
          "description": "Optional. A short description of this model."
        },
        "tuningTask": {
          "description": "Required. The tuning task that creates the tuned model.",
          "$ref": "TuningTask"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this model was created."
        },
        "topP": {
          "type": "number",
          "description": "Optional. For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be the one used by the base model while creating the model.",
          "format": "float"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The model is being created.",
            "The model is ready to be used.",
            "The model failed to be created."
          ],
          "description": "Output only. The state of the tuned model.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TunedModel",
      "description": "A fine-tuned model created using ModelService.CreateTunedModel."
    },
    "ListFilesResponse": {
      "type": "object",
      "id": "ListFilesResponse",
      "description": "Response for `ListFiles`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call."
        },
        "files": {
          "description": "The list of `File`s.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "BatchEmbedTextResponse": {
      "id": "BatchEmbedTextResponse",
      "type": "object",
      "description": "The response to a EmbedTextRequest.",
      "properties": {
        "embeddings": {
          "items": {
            "$ref": "Embedding"
          },
          "readOnly": true,
          "description": "Output only. The embeddings generated from the input text.",
          "type": "array"
        }
      }
    },
    "Model": {
      "type": "object",
      "description": "Information about a Generative Language Model.",
      "id": "Model",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the `Model`. Format: `models/{model}` with a `{model}` naming convention of: * \"{base_model_id}-{version}\" Examples: * `models/chat-bison-001`"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the model. E.g. \"Chat Bison\". The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "description": {
          "description": "A short description of the model.",
          "type": "string"
        },
        "topP": {
          "type": "number",
          "format": "float",
          "description": "For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be used by the backend while making the call to the model."
        },
        "version": {
          "description": "Required. The version number of the model. This represents the major version",
          "type": "string"
        },
        "outputTokenLimit": {
          "format": "int32",
          "description": "Maximum number of output tokens available for this model.",
          "type": "integer"
        },
        "maxTemperature": {
          "format": "float",
          "type": "number",
          "description": "The maximum temperature this model can use."
        },
        "inputTokenLimit": {
          "format": "int32",
          "description": "Maximum number of input tokens allowed for this model.",
          "type": "integer"
        },
        "baseModelId": {
          "description": "Required. The name of the base model, pass this to the generation request. Examples: * `chat-bison`",
          "type": "string"
        },
        "temperature": {
          "format": "float",
          "description": "Controls the randomness of the output. Values can range over `[0.0,max_temperature]`, inclusive. A higher value will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be used by the backend while making the call to the model.",
          "type": "number"
        },
        "supportedGenerationMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The model's supported generation methods. The method names are defined as Pascal case strings, such as `generateMessage` which correspond to API methods."
        },
        "topK": {
          "description": "For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. If empty, indicates the model doesn't use top-k sampling, and `top_k` isn't allowed as a generation parameter.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CreateFileRequest": {
      "properties": {
        "file": {
          "$ref": "File",
          "description": "Optional. Metadata for the file to create."
        }
      },
      "description": "Request for `CreateFile`.",
      "id": "CreateFileRequest",
      "type": "object"
    },
    "ContentEmbedding": {
      "description": "A list of floats representing an embedding.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "The embedding values."
        }
      },
      "type": "object",
      "id": "ContentEmbedding"
    },
    "ListCorporaResponse": {
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`.",
      "id": "ListCorporaResponse",
      "properties": {
        "corpora": {
          "description": "The returned corpora.",
          "type": "array",
          "items": {
            "$ref": "Corpus"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      },
      "type": "object"
    },
    "RelevantChunk": {
      "type": "object",
      "properties": {
        "chunkRelevanceScore": {
          "description": "`Chunk` relevance to the query.",
          "type": "number",
          "format": "float"
        },
        "chunk": {
          "$ref": "Chunk",
          "description": "`Chunk` associated with the query."
        }
      },
      "id": "RelevantChunk",
      "description": "The information for a chunk relevant to a query."
    },
    "GroundingPassage": {
      "type": "object",
      "id": "GroundingPassage",
      "properties": {
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        },
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        }
      },
      "description": "Passage included inline with a grounding configuration."
    },
    "EmbedContentResponse": {
      "properties": {
        "embedding": {
          "readOnly": true,
          "description": "Output only. The embedding generated from the input content.",
          "$ref": "ContentEmbedding"
        }
      },
      "id": "EmbedContentResponse",
      "type": "object",
      "description": "The response to an `EmbedContentRequest`."
    },
    "Tool": {
      "type": "object",
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
      "id": "Tool",
      "properties": {
        "functionDeclarations": {
          "type": "array",
          "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used for function calling. The model or system does not execute the function. Instead the defined function may be returned as a FunctionCall with arguments to the client side for execution. The model may decide to call a subset of these functions by populating FunctionCall in the response. The next conversation turn may contain a FunctionResponse with the [content.role] \"function\" generation context for the next model turn.",
          "items": {
            "$ref": "FunctionDeclaration"
          }
        }
      }
    },
    "BatchEmbedContentsResponse": {
      "type": "object",
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "id": "BatchEmbedContentsResponse",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ContentEmbedding"
          }
        }
      }
    },
    "GenerateMessageRequest": {
      "type": "object",
      "properties": {
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`.",
          "format": "float",
          "type": "number"
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
        },
        "topK": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
          "format": "int32"
        },
        "prompt": {
          "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion.",
          "$ref": "MessagePrompt"
        },
        "candidateCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`."
        }
      },
      "id": "GenerateMessageRequest",
      "description": "Request to generate a message response from the model."
    },
    "BatchEmbedContentsRequest": {
      "id": "BatchEmbedContentsRequest",
      "properties": {
        "requests": {
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
          "items": {
            "$ref": "EmbedContentRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Batch request to get embeddings from the model for a list of prompts."
    },
    "GroundingPassages": {
      "type": "object",
      "description": "A repeated list of passages.",
      "id": "GroundingPassages",
      "properties": {
        "passages": {
          "description": "List of passages.",
          "type": "array",
          "items": {
            "$ref": "GroundingPassage"
          }
        }
      }
    },
    "GenerateMessageResponse": {
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
      "id": "GenerateMessageResponse",
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Candidate response messages from the model."
        },
        "messages": {
          "type": "array",
          "description": "The conversation history used by the model.",
          "items": {
            "$ref": "Message"
          }
        },
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array",
          "items": {
            "$ref": "ContentFilter"
          }
        }
      }
    },
    "TransferOwnershipRequest": {
      "type": "object",
      "description": "Request to transfer the ownership of the tuned model.",
      "id": "TransferOwnershipRequest",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Required. The email address of the user to whom the tuned model is being transferred to."
        }
      }
    },
    "ListPermissionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Returned permissions."
        }
      },
      "description": "Response from `ListPermissions` containing a paginated list of permissions.",
      "type": "object",
      "id": "ListPermissionsResponse"
    },
    "ToolConfig": {
      "type": "object",
      "properties": {
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        }
      },
      "id": "ToolConfig",
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request."
    },
    "CitationSource": {
      "type": "object",
      "id": "CitationSource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. URI that is attributed as a source for a portion of the text."
        },
        "endIndex": {
          "description": "Optional. End of the attributed segment, exclusive.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes."
        },
        "license": {
          "type": "string",
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations."
        }
      },
      "description": "A citation to a source for a portion of a specific response."
    },
    "CountMessageTokensResponse": {
      "id": "CountMessageTokensResponse",
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BatchUpdateChunksRequest": {
      "description": "Request to batch update `Chunk`s.",
      "id": "BatchUpdateChunksRequest",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the `Chunk`s to update. A maximum of 100 `Chunk`s can be updated in a batch.",
          "items": {
            "$ref": "UpdateChunkRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "File": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. Processing state of the File.",
          "type": "string",
          "readOnly": true
        },
        "mimeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. MIME type of the file."
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "readOnly": true,
          "$ref": "VideoMetadata"
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. The uri of the `File`.",
          "type": "string"
        },
        "sha256Hash": {
          "readOnly": true,
          "format": "byte",
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "readOnly": true
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Size of the file in bytes."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was created.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error status if File processing failed."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\""
        },
        "expirationTime": {
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "File",
      "description": "A file uploaded to the API."
    },
    "BatchCreateChunksRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateChunkRequest"
          },
          "description": "Required. The request messages specifying the `Chunk`s to create. A maximum of 100 `Chunk`s can be created in a batch.",
          "type": "array"
        }
      },
      "description": "Request to batch create `Chunk`s.",
      "type": "object",
      "id": "BatchCreateChunksRequest"
    },
    "UpdateChunkRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`."
        },
        "chunk": {
          "description": "Required. The `Chunk` to update.",
          "$ref": "Chunk"
        }
      },
      "description": "Request to update a `Chunk`.",
      "id": "UpdateChunkRequest"
    },
    "QueryDocumentResponse": {
      "type": "object",
      "description": "Response from `QueryDocument` containing a list of relevant chunks.",
      "properties": {
        "relevantChunks": {
          "items": {
            "$ref": "RelevantChunk"
          },
          "description": "The returned relevant chunks.",
          "type": "array"
        }
      },
      "id": "QueryDocumentResponse"
    },
    "SafetySetting": {
      "properties": {
        "category": {
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ],
          "description": "Required. The category for this setting.",
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ]
        },
        "threshold": {
          "description": "Required. Controls the probability threshold at which harm is blocked.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed."
          ]
        }
      },
      "id": "SafetySetting",
      "type": "object",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked."
    },
    "SafetyFeedback": {
      "description": "Safety feedback for an entire request. This field is populated if content in the input and/or response is blocked due to safety settings. SafetyFeedback may not exist for every HarmCategory. Each SafetyFeedback will return the safety settings used by the request as well as the lowest HarmProbability that should be allowed in order to return a result.",
      "type": "object",
      "id": "SafetyFeedback",
      "properties": {
        "rating": {
          "description": "Safety rating evaluated from content.",
          "$ref": "SafetyRating"
        },
        "setting": {
          "$ref": "SafetySetting",
          "description": "Safety settings applied to the request."
        }
      }
    },
    "TransferOwnershipResponse": {
      "id": "TransferOwnershipResponse",
      "type": "object",
      "description": "Response from `TransferOwnership`.",
      "properties": {}
    },
    "QueryCorpusRequest": {
      "type": "object",
      "properties": {
        "metadataFilters": {
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          },
[...]
