{
  "servicePath": "",
  "name": "generativelanguage",
  "discoveryVersion": "v1",
  "schemas": {
    "ToolConfig": {
      "properties": {
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        }
      },
      "type": "object",
      "id": "ToolConfig",
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request."
    },
    "SemanticRetrieverChunk": {
      "id": "SemanticRetrieverChunk",
      "properties": {
        "chunk": {
          "description": "Output only. Name of the `Chunk` containing the attributed text. Example: `corpora/123/documents/abc/chunks/xyz`",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the source matching the request's `SemanticRetrieverConfig.source`. Example: `corpora/123` or `corpora/123/documents/abc`"
        }
      },
      "type": "object",
      "description": "Identifier for a `Chunk` retrieved via Semantic Retriever specified in the `GenerateAnswerRequest` using `SemanticRetrieverConfig`."
    },
    "InputFeedback": {
      "description": "Feedback related to the input data used to answer the question, as opposed to model-generated response to the question.",
      "id": "InputFeedback",
      "type": "object",
      "properties": {
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "Ratings for safety of the input. There is at most one rating per category."
        },
        "blockReason": {
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. You can inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ],
          "type": "string",
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase your input."
        }
      }
    },
    "AttributionSourceId": {
      "id": "AttributionSourceId",
      "properties": {
        "groundingPassage": {
          "$ref": "GroundingPassageId",
          "description": "Identifier for an inline passage."
        },
        "semanticRetrieverChunk": {
          "$ref": "SemanticRetrieverChunk",
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever."
        }
      },
      "type": "object",
      "description": "Identifier for the source contributing to this attribution."
    },
    "QueryCorpusRequest": {
      "id": "QueryCorpusRequest",
      "properties": {
        "resultsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100."
        },
        "metadataFilters": {
          "items": {
            "$ref": "MetadataFilter"
          },
          "type": "array",
          "description": "Optional. Filter for `Chunk` and `Document` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Example query at document level: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]}] Example query at chunk level for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key."
        },
        "query": {
          "type": "string",
          "description": "Required. Query string to perform semantic search."
        }
      },
      "type": "object",
      "description": "Request for querying a `Corpus`."
    },
    "Message": {
      "id": "Message",
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output."
        },
        "content": {
          "description": "Required. The text content of the structured `Message`.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string."
        }
      },
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text.",
      "type": "object"
    },
    "Candidate": {
      "id": "Candidate",
      "type": "object",
      "description": "A response candidate generated from the model.",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Token count for this candidate.",
          "readOnly": true
        },
        "citationMetadata": {
          "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
          "$ref": "CitationMetadata",
          "readOnly": true
        },
        "groundingAttributions": {
          "readOnly": true,
          "items": {
            "$ref": "GroundingAttribution"
          },
          "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls.",
          "type": "array"
        },
        "content": {
          "readOnly": true,
          "$ref": "Content",
          "description": "Output only. Generated content returned from the model."
        },
        "finishReason": {
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The candidate content was flagged for safety reasons.",
            "The candidate content was flagged for recitation reasons.",
            "Unknown reason."
          ],
          "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating the tokens.",
          "readOnly": true
        },
        "index": {
          "description": "Output only. Index of the candidate in the list of candidates.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "safetyRatings": {
          "description": "List of ratings for the safety of a response candidate. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array"
        }
      }
    },
    "GenerateAnswerRequest": {
      "id": "GenerateAnswerRequest",
      "description": "Request to generate a grounded answer from the model.",
      "type": "object",
      "properties": {
        "contents": {
          "type": "array",
          "items": {
            "$ref": "Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: GenerateAnswer currently only supports queries in English."
        },
        "semanticRetriever": {
          "$ref": "SemanticRetrieverConfig",
          "description": "Content retrieved from resources created via the Semantic Retriever API."
        },
        "answerStyle": {
          "enumDescriptions": [
            "Unspecified answer style.",
            "Succint but abstract style.",
            "Very brief and extractive style.",
            "Verbose style including extra details. The response may be formatted as a sentence, paragraph, multiple paragraphs, or bullet points, etc."
          ],
          "enum": [
            "ANSWER_STYLE_UNSPECIFIED",
            "ABSTRACTIVE",
            "EXTRACTIVE",
            "VERBOSE"
          ],
          "type": "string",
          "description": "Required. Style in which answers should be returned."
        },
        "safetySettings": {
          "items": {
            "$ref": "SafetySetting"
          },
          "type": "array",
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported."
        },
        "inlinePassages": {
          "description": "Passages provided inline with the request.",
          "$ref": "GroundingPassages"
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Blob": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Raw bytes for media formats."
        },
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        }
      },
      "id": "Blob",
      "type": "object",
      "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field."
    },
    "BatchDeleteChunksRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteChunkRequest"
          },
          "description": "Required. The request messages specifying the `Chunk`s to delete.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteChunksRequest",
      "description": "Request to batch delete `Chunk`s."
    },
    "Schema": {
      "properties": {
        "enum": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}"
        },
        "format": {
          "description": "Optional. The format of the data. This is used only for primitive datatypes. Supported formats: for NUMBER type: float, double for INTEGER type: int32, int64",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Required. Data type."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. Properties of Type.OBJECT."
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "description": {
          "type": "string",
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown."
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        }
      },
      "id": "Schema",
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "type": "object"
    },
    "Condition": {
      "description": "Filter condition applicable to a single key.",
      "id": "Condition",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "The string value to filter the metadata on."
        },
        "numericValue": {
          "type": "number",
          "description": "The numeric value to filter the metadata on.",
          "format": "float"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ],
          "description": "Required. Operator applied to the given key-value pair to trigger the condition."
        }
      }
    },
    "UsageMetadata": {
      "properties": {
        "candidatesTokenCount": {
          "description": "Total number of tokens across the generated candidates.",
          "format": "int32",
          "type": "integer"
        },
        "cachedContentTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of tokens in the cached part of the prompt, i.e. in the cached content."
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total token count for the generation request (prompt + candidates)."
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tokens in the prompt. When cached_content is set, this is still the total effective prompt size. I.e. this includes the number of tokens in the cached content."
        }
      },
      "id": "UsageMetadata",
      "description": "Metadata on the generation request's token usage.",
      "type": "object"
    },
    "GroundingPassageId": {
      "properties": {
        "partIndex": {
          "description": "Output only. Index of the part within the `GenerateAnswerRequest`'s `GroundingPassage.content`.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "passageId": {
          "type": "string",
          "description": "Output only. ID of the passage matching the `GenerateAnswerRequest`'s `GroundingPassage.id`.",
          "readOnly": true
        }
      },
      "id": "GroundingPassageId",
      "description": "Identifier for a part within a `GroundingPassage`.",
      "type": "object"
    },
    "BatchUpdateChunksResponse": {
      "properties": {
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "`Chunk`s updated.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateChunksResponse",
      "description": "Response from `BatchUpdateChunks` containing a list of updated `Chunk`s."
    },
    "TransferOwnershipRequest": {
      "description": "Request to transfer the ownership of the tuned model.",
      "properties": {
        "emailAddress": {
          "description": "Required. The email address of the user to whom the tuned model is being transferred to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TransferOwnershipRequest"
    },
    "FileData": {
      "description": "URI based data.",
      "id": "FileData",
      "type": "object",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "Required. URI."
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The IANA standard MIME type of the source data."
        }
      }
    },
    "ListCachedContentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "cachedContents": {
          "type": "array",
          "description": "List of cached contents.",
          "items": {
            "$ref": "CachedContent"
          }
        }
      },
      "type": "object",
      "id": "ListCachedContentsResponse",
      "description": "Response with CachedContents list."
    },
    "MetadataFilter": {
      "type": "object",
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]",
      "id": "MetadataFilter",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs."
        },
        "key": {
          "description": "Required. The key of the metadata to filter on.",
          "type": "string"
        }
      }
    },
    "GenerateContentRequest": {
      "description": "Request to generate a completion from the model.",
      "type": "object",
      "properties": {
        "systemInstruction": {
          "$ref": "Content",
          "description": "Optional. Developer set system instruction. Currently, text only."
        },
        "cachedContent": {
          "description": "Optional. The name of the cached content used as context to serve the prediction. Note: only used in explicit caching, where users can have control over caching (e.g. what content to cache) and enjoy guaranteed cost savings. Format: `cachedContents/{cachedContent}`",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. The only supported tool is currently `Function`.",
          "items": {
            "$ref": "Tool"
          }
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GenerationConfig"
        },
        "safetySettings": {
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported.",
          "type": "array"
        },
        "contents": {
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Tool configuration for any `Tool` specified in the request."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
          "type": "string"
        }
      },
      "id": "GenerateContentRequest"
    },
    "ListTunedModelsResponse": {
      "type": "object",
      "properties": {
        "tunedModels": {
          "description": "The returned Models.",
          "type": "array",
          "items": {
            "$ref": "TunedModel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListTunedModelsResponse",
      "description": "Response from `ListTunedModels` containing a paginated list of Models."
    },
    "QueryDocumentRequest": {
      "id": "QueryDocumentRequest",
      "type": "object",
      "description": "Request for querying a `Document`.",
      "properties": {
        "metadataFilters": {
          "description": "Optional. Filter for `Chunk` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Note: `Document`-level filtering is not supported for this request because a `Document` name is already specified. Example query: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}}, {key = \"chunk.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}}] Example query for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key.",
          "items": {
            "$ref": "MetadataFilter"
          },
          "type": "array"
        },
        "resultsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100."
        },
        "query": {
          "description": "Required. Query string to perform semantic search.",
          "type": "string"
        }
      }
    },
    "CreateFileRequest": {
      "id": "CreateFileRequest",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "Optional. Metadata for the file to create."
        }
      },
      "description": "Request for `CreateFile`.",
      "type": "object"
    },
    "BatchCreateChunksRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the `Chunk`s to create. A maximum of 100 `Chunk`s can be created in a batch.",
          "items": {
            "$ref": "CreateChunkRequest"
          },
          "type": "array"
        }
      },
      "description": "Request to batch create `Chunk`s.",
      "id": "BatchCreateChunksRequest"
    },
    "Dataset": {
      "description": "Dataset for training or validation.",
      "properties": {
        "examples": {
          "description": "Optional. Inline examples.",
          "$ref": "TuningExamples"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "BatchEmbedTextResponse": {
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings generated from the input text.",
          "type": "array",
          "items": {
            "$ref": "Embedding"
          },
          "readOnly": true
        }
      },
      "description": "The response to a EmbedTextRequest.",
      "id": "BatchEmbedTextResponse",
      "type": "object"
    },
    "PromptFeedback": {
      "properties": {
        "blockReason": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. You can inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons."
          ],
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase your prompt.",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ]
        },
        "safetyRatings": {
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array"
        }
      },
      "id": "PromptFeedback",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "type": "object"
    },
    "FunctionCallingConfig": {
      "description": "Configuration for specifying function calling behavior.",
      "id": "FunctionCallingConfig",
      "properties": {
        "allowedFunctionNames": {
          "type": "array",
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY. Function names should match [FunctionDeclaration.name]. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "items": {
            "type": "string"
          }
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language response.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE"
          ],
          "type": "string",
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO."
        }
      },
      "type": "object"
    },
    "ListFilesResponse": {
      "description": "Response for `ListFiles`.",
      "id": "ListFilesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call."
        },
        "files": {
          "description": "The list of `File`s.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "type": "object"
    },
    "Embedding": {
      "type": "object",
      "description": "A list of floats representing the embedding.",
      "properties": {
        "value": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "The embedding values."
        }
      },
      "id": "Embedding"
    },
    "Corpus": {
      "description": "A `Corpus` is a collection of `Document`s. A project can create up to 5 corpora.",
      "id": "Corpus",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The Timestamp of when the `Corpus` was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\""
        },
        "name": {
          "description": "Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `Corpus` was created."
        }
      },
      "type": "object"
    },
    "CountTextTokensResponse": {
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
      "properties": {
        "tokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      },
      "type": "object",
      "id": "CountTextTokensResponse"
    },
    "BatchCreateChunksResponse": {
      "id": "BatchCreateChunksResponse",
      "type": "object",
      "description": "Response from `BatchCreateChunks` containing a list of created `Chunk`s.",
      "properties": {
        "chunks": {
          "type": "array",
          "items": {
            "$ref": "Chunk"
          },
          "description": "`Chunk`s created."
        }
      }
    },
    "TransferOwnershipResponse": {
      "id": "TransferOwnershipResponse",
      "description": "Response from `TransferOwnership`.",
      "type": "object",
      "properties": {}
    },
    "TuningExamples": {
      "id": "TuningExamples",
      "properties": {
        "examples": {
          "type": "array",
          "items": {
            "$ref": "TuningExample"
          },
          "description": "Required. The examples. Example input can be for text or discuss, but all examples in a set must be of the same type."
        }
      },
      "description": "A set of tuning examples. Can be training or validation data.",
      "type": "object"
    },
    "BatchEmbedContentsResponse": {
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "properties": {
        "embeddings": {
          "items": {
            "$ref": "ContentEmbedding"
          },
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "BatchEmbedContentsResponse",
      "type": "object"
    },
    "QueryDocumentResponse": {
      "type": "object",
      "description": "Response from `QueryDocument` containing a list of relevant chunks.",
      "properties": {
        "relevantChunks": {
          "items": {
            "$ref": "RelevantChunk"
          },
          "description": "The returned relevant chunks.",
          "type": "array"
        }
      },
      "id": "QueryDocumentResponse"
    },
    "CustomMetadata": {
      "properties": {
        "stringListValue": {
          "$ref": "StringList",
          "description": "The StringList value of the metadata to store."
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to store."
        },
        "numericValue": {
          "format": "float",
          "type": "number",
          "description": "The numeric value of the metadata to store."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the metadata to store."
        }
      },
      "description": "User provided metadata stored as key-value pairs.",
      "type": "object",
      "id": "CustomMetadata"
    },
    "ListModelsResponse": {
      "type": "object",
      "id": "ListModelsResponse",
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "properties": {
        "models": {
          "type": "array",
          "description": "The returned Models.",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      }
    },
    "CachedContentUsageMetadata": {
      "properties": {
        "totalTokenCount": {
          "description": "Total number of tokens that the cached content consumes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Metadata on the usage of the cached content.",
      "type": "object",
      "id": "CachedContentUsageMetadata"
    },
    "FunctionCall": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63."
        },
        "args": {
          "type": "object",
          "description": "Optional. The function parameters and values in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
      "type": "object",
      "id": "FunctionCall"
    },
    "TextCompletion": {
      "description": "Output text returned from a model.",
      "id": "TextCompletion",
      "type": "object",
      "properties": {
        "safetyRatings": {
          "description": "Ratings for the safety of a response. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array"
        },
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated `output` in this `TextCompletion`. This field may be populated with attribution information for any text included in the `output`.",
          "readOnly": true
        },
        "output": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generated text returned from the model."
        }
      }
    },
    "SafetySetting": {
      "type": "object",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "properties": {
        "category": {
          "description": "Required. The category for this setting.",
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ]
        },
        "threshold": {
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE"
          ],
          "type": "string",
          "description": "Required. Controls the probability threshold at which harm is blocked."
        }
      },
      "id": "SafetySetting"
    },
    "TuningExample": {
      "properties": {
        "output": {
          "type": "string",
          "description": "Required. The expected model output."
        },
        "textInput": {
          "type": "string",
          "description": "Optional. Text model input."
        }
      },
      "type": "object",
      "description": "A single example for tuning.",
      "id": "TuningExample"
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "documents": {
          "description": "The returned `Document`s.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        }
      },
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`."
    },
    "UpdateChunkRequest": {
      "id": "UpdateChunkRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`."
        },
        "chunk": {
          "$ref": "Chunk",
          "description": "Required. The `Chunk` to update."
        }
      },
      "type": "object",
      "description": "Request to update a `Chunk`."
    },
    "CachedContent": {
      "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
          "type": "string"
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools."
        },
        "ttl": {
          "description": "Input only. New TTL for this resource, input only.",
          "type": "string",
          "format": "google-duration"
        },
        "tools": {
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the cache entry was last updated in UTC time.",
          "format": "google-datetime"
        },
        "usageMetadata": {
          "$ref": "CachedContentUsageMetadata",
          "readOnly": true,
          "description": "Output only. Metadata on the usage of the cached content."
        },
        "contents": {
          "type": "array",
          "description": "Optional. Input only. Immutable. The content to cache.",
          "items": {
            "$ref": "Content"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters."
        },
        "systemInstruction": {
          "$ref": "Content",
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of the cache entry."
        },
        "model": {
          "type": "string",
          "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`"
        }
      },
      "type": "object",
      "id": "CachedContent"
    },
    "GenerateMessageRequest": {
      "properties": {
        "topK": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
          "format": "int32"
        },
        "prompt": {
          "$ref": "MessagePrompt",
          "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion."
        },
        "candidateCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`."
        },
        "topP": {
          "format": "float",
          "type": "number",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`."
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
        }
      },
      "description": "Request to generate a message response from the model.",
      "type": "object",
      "id": "GenerateMessageRequest"
    },
    "TunedModelSource": {
      "type": "object",
      "properties": {
        "tunedModel": {
          "type": "string",
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`"
        },
        "baseModel": {
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/text-bison-001`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "TunedModelSource",
      "description": "Tuned model as a source for training a new model."
    },
    "GenerateMessageResponse": {
      "properties": {
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "The conversation history used by the model."
        },
        "candidates": {
          "items": {
            "$ref": "Message"
          },
          "description": "Candidate response messages from the model.",
          "type": "array"
        }
      },
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
      "type": "object",
      "id": "GenerateMessageResponse"
    },
    "File": {
      "description": "A file uploaded to the API.",
      "properties": {
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri of the `File`."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Size of the file in bytes.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ]
        },
        "error": {
          "description": "Output only. Error status if File processing failed.",
          "$ref": "Status",
          "readOnly": true
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. MIME type of the file.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "expirationTime": {
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "readOnly": true,
          "$ref": "VideoMetadata"
        },
        "sha256Hash": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "format": "byte"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the `File` was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "File"
    },
    "SemanticRetrieverConfig": {
      "id": "SemanticRetrieverConfig",
      "type": "object",
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API.",
      "properties": {
        "minimumRelevanceScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s."
        },
        "metadataFilters": {
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          },
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource."
        },
        "source": {
          "description": "Required. Name of the resource for retrieval, e.g. corpora/123 or corpora/123/documents/abc.",
          "type": "string"
        },
        "query": {
          "$ref": "Content",
          "description": "Required. Query to use for similarity matching `Chunk`s in the given resource."
        },
        "maxChunksCount": {
          "type": "integer",
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "format": "int32"
        }
      }
    },
    "TextPrompt": {
      "type": "object",
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "id": "TextPrompt",
      "properties": {
        "text": {
          "description": "Required. The prompt text.",
          "type": "string"
        }
      }
    },
    "GroundingPassage": {
      "properties": {
        "content": {
          "$ref": "Content",
          "description": "Content of the passage."
        },
        "id": {
          "type": "string",
          "description": "Identifier for the passage for attributing this passage in grounded answers."
        }
      },
      "description": "Passage included inline with a grounding configuration.",
      "type": "object",
      "id": "GroundingPassage"
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FunctionResponse": {
      "type": "object",
      "id": "FunctionResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63."
        },
        "response": {
          "description": "Required. The function response in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction."
    },
    "TunedModel": {
      "type": "object",
      "properties": {
        "tuningTask": {
          "$ref": "TuningTask",
          "description": "Required. The tuning task that creates the tuned model."
        },
        "tunedModelSource": {
          "$ref": "TunedModelSource",
          "description": "Optional. TunedModel to use as the starting point for training the new model."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\""
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this model was updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this model was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "baseModel": {
          "description": "Immutable. The name of the `Model` to tune. Example: `models/text-bison-001`",
          "type": "string"
        },
        "topK": {
          "description": "Optional. For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. This value specifies default to be the one used by the base model while creating the model.",
          "format": "int32",
          "type": "integer"
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. The state of the tuned model.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The model is being created.",
            "The model is ready to be used.",
            "The model failed to be created."
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The name to display for this model in user interfaces. The display name must be up to 40 characters including spaces.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A short description of this model."
        },
        "topP": {
          "description": "Optional. For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "TunedModel",
      "description": "A fine-tuned model created using ModelService.CreateTunedModel."
    },
    "GroundingAttribution": {
      "description": "Attribution for a source that contributed to an answer.",
      "properties": {
        "content": {
          "$ref": "Content",
          "description": "Grounding source content that makes up this attribution."
        },
        "sourceId": {
          "readOnly": true,
          "description": "Output only. Identifier for the source contributing to this attribution.",
          "$ref": "AttributionSourceId"
        }
      },
      "id": "GroundingAttribution",
      "type": "object"
    },
    "TuningSnapshot": {
      "properties": {
        "step": {
          "type": "integer",
          "description": "Output only. The tuning step.",
          "readOnly": true,
          "format": "int32"
        },
        "epoch": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The epoch this step was part of.",
          "readOnly": true
        },
        "meanLoss": {
          "format": "float",
          "description": "Output only. The mean loss of the training examples for this step.",
          "type": "number",
          "readOnly": true
        },
        "computeTime": {
          "description": "Output only. The timestamp when this metric was computed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Record for a single tuning step.",
      "id": "TuningSnapshot",
      "type": "object"
    },
    "Tool": {
      "type": "object",
      "properties": {
        "functionDeclarations": {
          "items": {
            "$ref": "FunctionDeclaration"
          },
          "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used for function calling. The model or system does not execute the function. Instead the defined function may be returned as a FunctionCall with arguments to the client side for execution. The model may decide to call a subset of these functions by populating FunctionCall in the response. The next conversation turn may contain a FunctionResponse with the [content.role] \"function\" generation context for the next model turn.",
          "type": "array"
        }
      },
      "id": "Tool",
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model."
    },
    "EmbedTextResponse": {
      "properties": {
        "embedding": {
          "description": "Output only. The embedding generated from the input text.",
          "$ref": "Embedding",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "EmbedTextResponse",
      "description": "The response to a EmbedTextRequest."
    },
    "RelevantChunk": {
      "id": "RelevantChunk",
      "description": "The information for a chunk relevant to a query.",
      "properties": {
        "chunk": {
          "$ref": "Chunk",
          "description": "`Chunk` associated with the query."
        },
        "chunkRelevanceScore": {
          "type": "number",
          "format": "float",
          "description": "`Chunk` relevance to the query."
        }
      },
      "type": "object"
    },
    "GroundingPassages": {
      "properties": {
        "passages": {
          "description": "List of passages.",
          "items": {
            "$ref": "GroundingPassage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A repeated list of passages.",
      "id": "GroundingPassages"
    },
    "Model": {
      "type": "object",
      "id": "Model",
      "properties": {
        "outputTokenLimit": {
          "description": "Maximum number of output tokens available for this model.",
          "type": "integer",
          "format": "int32"
        },
        "inputTokenLimit": {
          "format": "int32",
          "description": "Maximum number of input tokens allowed for this model.",
          "type": "integer"
        },
        "supportedGenerationMethods": {
          "description": "The model's supported generation methods. The method names are defined as Pascal case strings, such as `generateMessage` which correspond to API methods.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the `Model`. Format: `models/{model}` with a `{model}` naming convention of: * \"{base_model_id}-{version}\" Examples: * `models/chat-bison-001`"
        },
        "baseModelId": {
          "type": "string",
          "description": "Required. The name of the base model, pass this to the generation request. Examples: * `chat-bison`"
        },
        "description": {
          "type": "string",
          "description": "A short description of the model."
        },
        "topP": {
          "type": "number",
          "description": "For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be used by the backend while making the call to the model.",
          "format": "float"
        },
        "version": {
          "type": "string",
          "description": "Required. The version number of the model. This represents the major version"
        },
        "topK": {
          "description": "For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. If empty, indicates the model doesn't use top-k sampling, and `top_k` isn't allowed as a generation parameter.",
          "type": "integer",
          "format": "int32"
        },
        "maxTemperature": {
          "description": "The maximum temperature this model can use.",
          "type": "number",
          "format": "float"
        },
        "temperature": {
          "type": "number",
          "description": "Controls the randomness of the output. Values can range over `[0.0,max_temperature]`, inclusive. A higher value will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be used by the backend while making the call to the model.",
          "format": "float"
        },
        "displayName": {
          "description": "The human-readable name of the model. E.g. \"Chat Bison\". The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        }
      },
      "description": "Information about a Generative Language Model."
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The string values of the metadata to store."
        }
      },
      "description": "User provided string values assigned to a single metadata key.",
      "type": "object"
    },
    "VideoMetadata": {
      "type": "object",
      "properties": {
        "videoDuration": {
          "format": "google-duration",
          "description": "Duration of the video.",
          "type": "string"
        }
      },
      "id": "VideoMetadata",
      "description": "Metadata for a video `File`."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "GenerateContentResponse": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "Candidate"
          },
          "description": "Candidate responses from the model.",
          "type": "array"
        },
        "promptFeedback": {
          "$ref": "PromptFeedback",
          "description": "Returns the prompt's feedback related to the content filters."
        },
        "usageMetadata": {
          "readOnly": true,
          "$ref": "UsageMetadata",
          "description": "Output only. Metadata on the generation requests' token usage."
        }
      },
      "type": "object",
      "description": "Response from the model supporting multiple candidates. Note on safety ratings and content filtering. They are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API contract is that: - either all requested candidates are returned or no candidates at all - no candidates are returned only if there was something wrong with the prompt (see `prompt_feedback`) - feedback on each candidate is reported on `finish_reason` and `safety_ratings`.",
      "id": "GenerateContentResponse"
    },
    "CountTokensResponse": {
      "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`.",
      "properties": {
        "totalTokens": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative. When cached_content is set, this is still the total effective prompt size. I.e. this includes the number of tokens in the cached content.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CountTokensResponse",
      "type": "object"
    },
    "BatchEmbedTextRequest": {
      "properties": {
        "requests": {
          "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set.",
          "type": "array",
          "items": {
            "$ref": "EmbedTextRequest"
          }
        },
        "texts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown.",
          "type": "array"
        }
      },
      "description": "Batch request to get a text embedding from the model.",
      "id": "BatchEmbedTextRequest",
      "type": "object"
    },
    "CountMessageTokensResponse": {
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CountMessageTokensResponse",
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object"
    },
    "Document": {
      "type": "object",
      "id": "Document",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The Timestamp of when the `Document` was last updated.",
          "readOnly": true
        },
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"corpora/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/{corpus_id}/documents/my-awesome-doc-123a456b789c`",
          "type": "string"
        }
      },
      "description": "A `Document` is a collection of `Chunk`s. A `Corpus` can have a maximum of 10,000 `Document`s."
    },
    "CreateFileResponse": {
      "description": "Response for `CreateFile`.",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "Metadata for the created file."
        }
      },
      "type": "object",
      "id": "CreateFileResponse"
    },
    "ListChunksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "type": "array",
          "description": "The returned `Chunk`s."
        }
      },
      "id": "ListChunksResponse",
      "description": "Response from `ListChunks` containing a paginated list of `Chunk`s. The `Chunk`s are sorted by ascending `chunk.create_time`."
    },
    "CountTokensRequest": {
      "type": "object",
      "id": "CountTokensRequest",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "type": "array",
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set."
        },
        "generateContentRequest": {
          "description": "Optional. The overall input given to the model. CountTokens will count prompt, function calling, etc.",
          "$ref": "GenerateContentRequest"
        }
      }
    },
    "CitationSource": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "format": "int32"
        },
        "license": {
          "type": "string",
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. End of the attributed segment, exclusive."
        },
        "uri": {
          "type": "string",
          "description": "Optional. URI that is attributed as a source for a portion of the text."
        }
      },
      "id": "CitationSource",
      "description": "A citation to a source for a portion of a specific response.",
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "granteeType": {
          "description": "Optional. Immutable. The type of the grantee.",
          "enum": [
            "GRANTEE_TYPE_UNSPECIFIED",
            "USER",
            "GROUP",
            "EVERYONE"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Represents a user. When set, you must provide email_address for the user.",
            "Represents a group. When set, you must provide email_address for the group.",
            "Represents access to everyone. No extra information is required."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Optional. Immutable. The email address of the user of group which this permission refers. Field is not set when permission's grantee type is EVERYONE."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER",
            "READER"
          ],
          "type": "string",
          "description": "Required. The role granted by this permission.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Owner can use, update, share and delete the resource.",
            "Writer can use, update and share the resource.",
            "Reader can use the resource."
          ]
        }
      },
      "description": "Permission resource grants user, group or the rest of the world access to the PaLM API resource (e.g. a tuned model, corpus). A role is a collection of permitted operations that allows users to perform specific actions on PaLM API resources. To make them available to users, groups, or service accounts, you assign roles. When you assign a role, you grant permissions that the role contains. There are three concentric roles. Each role is a superset of the previous role's permitted operations: - reader can use the resource (e.g. tuned model, corpus) for inference - writer has reader's permissions and additionally can edit and share - owner has writer's permissions and additionally can delete"
    },
    "GenerateTextResponse": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "TextCompletion"
          },
          "type": "array",
          "description": "Candidate responses from the model."
        },
        "safetyFeedback": {
          "items": {
            "$ref": "SafetyFeedback"
          },
          "description": "Returns any safety feedback related to content filtering.",
          "type": "array"
        },
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
          "items": {
            "$ref": "ContentFilter"
          },
          "type": "array"
        }
      },
      "description": "The response from the model, including candidate completions.",
      "id": "GenerateTextResponse",
      "type": "object"
    },
    "BatchUpdateChunksRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateChunkRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the `Chunk`s to update. A maximum of 100 `Chunk`s can be updated in a batch."
        }
      },
      "id": "BatchUpdateChunksRequest",
      "description": "Request to batch update `Chunk`s."
    },
    "EmbedContentResponse": {
      "id": "EmbedContentResponse",
      "properties": {
        "embedding": {
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The response to an `EmbedContentRequest`."
    },
    "ContentFilter": {
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A string that describes the filtering behavior in more detail."
        },
        "reason": {
          "description": "The reason content was blocked during request processing.",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ]
        }
      },
      "id": "ContentFilter",
      "type": "object"
    },
    "ChunkData": {
      "id": "ChunkData",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "The `Chunk` content as a string. The maximum number of tokens per chunk is 2043."
        }
      },
      "description": "Extracted data that represents the `Chunk` content.",
      "type": "object"
    },
    "CountTextTokensRequest": {
      "id": "CountTextTokensRequest",
      "properties": {
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt.",
          "$ref": "TextPrompt"
        }
      },
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object"
    },
    "Hyperparameters": {
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance",
      "type": "object",
      "id": "Hyperparameters",
      "properties": {
        "learningRateMultiplier": {
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used.",
          "format": "float",
          "type": "number"
        },
        "learningRate": {
          "type": "number",
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples.",
          "format": "float"
        },
        "batchSize": {
          "type": "integer",
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples.",
          "format": "int32"
        },
        "epochCount": {
          "type": "integer",
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used.",
          "format": "int32"
        }
      }
    },
    "EmbedTextRequest": {
      "description": "Request to get a text embedding from the model.",
      "properties": {
        "text": {
          "description": "Optional. The free-form input text that the model will turn into an embedding.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model name to use with the format model=models/{model}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EmbedTextRequest"
    },
    "EmbedContentRequest": {
      "id": "EmbedContentRequest",
      "description": "Request containing the `Content` for the model to embed.",
      "properties": {
        "taskType": {
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION"
          ],
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification."
          ],
          "description": "Optional. Optional task type for which the embeddings will be used. Can only be set for `models/embedding-001`.",
          "type": "string"
        },
        "content": {
          "$ref": "Content",
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted."
        },
        "outputDimensionality": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024, and the earlier model (`models/embedding-001`) cannot specify this value."
        },
        "model": {
          "type": "string",
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
        },
        "title": {
          "description": "Optional. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateAnswerResponse": {
      "description": "Response from the model for a grounded answer.",
      "type": "object",
      "properties": {
        "inputFeedback": {
          "readOnly": true,
          "$ref": "InputFeedback",
          "description": "Output only. Feedback related to the input data used to answer the question, as opposed to model-generated response to the question. \"Input data\" can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)"
        },
        "answerableProbability": {
          "readOnly": true,
          "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low answerable_probability indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, some clients may wish to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual clients’ use cases. 0.5 is a good starting threshold.",
          "type": "number",
          "format": "float"
        },
        "answer": {
          "$ref": "Candidate",
          "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`."
        }
      },
      "id": "GenerateAnswerResponse"
    },
    "QueryCorpusResponse": {
      "id": "QueryCorpusResponse",
      "type": "object",
      "description": "Response from `QueryCorpus` containing a list of relevant chunks.",
      "properties": {
        "relevantChunks": {
          "type": "array",
          "items": {
            "$ref": "RelevantChunk"
          },
          "description": "The relevant chunks."
        }
      }
    },
    "DeleteChunkRequest": {
      "id": "DeleteChunkRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the `Chunk` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`"
        }
      },
      "description": "Request to delete a `Chunk`.",
      "type": "object"
    },
    "CountMessageTokensRequest": {
      "id": "CountMessageTokensRequest",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "prompt": {
          "$ref": "MessagePrompt",
          "description": "Required. The prompt, whose token count is to be returned."
        }
      },
      "type": "object"
    },
    "Example": {
      "properties": {
        "output": {
          "description": "Required. An example of what the model should output given the input.",
          "$ref": "Message"
        },
        "input": {
          "description": "Required. An example of an input `Message` from the user.",
          "$ref": "Message"
        }
      },
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "id": "Example",
      "type": "object"
    },
    "Content": {
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset."
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "Part"
          },
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types."
        }
      },
      "id": "Content",
      "type": "object"
    },
    "SafetyRating": {
      "properties": {
        "category": {
          "type": "string",
          "description": "Required. The category for this rating.",
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ]
        },
        "blocked": {
          "type": "boolean",
          "description": "Was this content blocked because of this rating?"
        },
        "probability": {
          "type": "string",
          "description": "Required. The probability of harm for this content.",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Probability is unspecified.",
            "Content has a negligible chance of being unsafe.",
            "Content has a low chance of being unsafe.",
            "Content has a medium chance of being unsafe.",
            "Content has a high chance of being unsafe."
          ]
        }
      },
      "id": "SafetyRating",
      "description": "Safety rating for a piece of content. The safety rating contains the category of harm and the harm probability level in that category for a piece of content. Content is classified for safety across a number of harm categories and the probability of the harm classification is included here.",
      "type": "object"
    },
    "CreateChunkRequest": {
      "properties": {
        "parent": {
          "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
          "type": "string"
        },
        "chunk": {
          "description": "Required. The `Chunk` to create.",
          "$ref": "Chunk"
        }
      },
      "type": "object",
      "description": "Request to create a `Chunk`.",
      "id": "CreateChunkRequest"
    },
    "GenerateTextRequest": {
      "description": "Request to generate a text completion response from the model.",
      "type": "object",
      "properties": {
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
          "type": "array"
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model."
        },
        "candidateCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1."
        },
        "maxOutputTokens": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "format": "int32"
        },
        "topK": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function."
        },
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number",
          "format": "float"
        },
        "safetySettings": {
[...]
